<%= form_for(@today) do |f| %>
  <% if @today.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@today.errors.count, "error") %> prohibited this today from being saved:</h2>

      <ul>
      <% @today.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :date %><br>
    <%= f.date_select :date %>
  </div>
  <div class="field">
    <%= f.label :Reason_to_celebrate %><br>
    <%= f.text_field :Reason_to_celebrate %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
